html, body {
	width: 100vw;
	height: 100vh;
}

body {
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, sans-serif !important;
}

@font-face {
    font-family: 'kirvy';
    src: url('font/kirvybold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'kirvy';
    src: url('font/kirvylight.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;

}

@font-face {
    font-family: 'kirvy';
    src: url('font/kirvyregular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'kirvy';
    src: url('font/kirvythin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;

}